html {
    background: #000000;
}

header {
  background: #000000;
  position: absolute;
  width: 1310px;
}

body {
    width: 1310px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF; 
}

h1 {
    font-size: 40px;
    color: #007D7B;
    text-transform: uppercase;
    float: left;
    position: relative;
  width: 400px;
}

h2{
    font-size: 40px;
    color: #FFFFFF;
    text-transform: uppercase;
}

p, li {
    font-size: 20px;
}

nav {
    float: right;
    padding: 5px;
}

nav h2 {
    visibility: hidden;
    height: 1px;
    clear: both;
}

nav li {
    display: inline-block;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px;
}

[href="#top"] {
    position:fixed;
    bottom:0px;
    right:0px;
}

.box {
    background: #FFFFFF;
    color: #000000;
    padding: 0px 5px 0px;
}

.box h2 {
    color: #000000;
}

img[src*="TK"] {
    width: 850px;
    float: left;
    position: relative;
    margin: 0px;
}

#about {
    width: 420px;
    float: right;
    position: relative;
    text-align: right;
    margin: 100px 10px 0px;
}

#about h2 {
    margin: 20px 0px 0px;
}

#about p {
    margin: 5px;
}

#gallery {
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

div .container {
    float: left;
    margin: 5px;
    width: 420px;
    position: relative;
}

img {
    width: 420px;
    clear: both;
}

.smallImage {
    height: 281px;
}

.largeImage {
    height: 630px;
}

.blackText {
    text-transform: uppercase;
    color: #000000;
}

.whiteText {
    text-transform: uppercase;
    color: #FFFFFF;
}

.topLeft {
    position: absolute;
    top: 3px;
    left: 6px;
    font-size: 16px;
}

.bottomRight {
    position: absolute;
    bottom: 3px;
    right: 6px;
    font-size: 16px;
}

.bottomLeft {
    position: absolute;
    bottom: 3px;
    left: 6px;
    font-size: 16px;
}

#contact {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#contact form {
    text-align: left;
}

[placeholder] {
    font-size: 16px;
    color: #007D7B;
    text-transform: uppercase;
}