html {
    background: #000000;
}

body {
    width: 1310px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF; 
}

h1 {
    font-size: 40px;
    color: #007D7B;
    text-transform: uppercase;
}

h2{
    font-size: 40px;
    color: #FFFFFF;
    text-transform: uppercase;
}

p, li {
    font-size: 20px;
}

nav {
    float: right;
    position: relative;
}

nav h2 {
    visibility: hidden;
    height: 1px;
}

nav li {
    display: inline;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

[href="#top"] {
    position:fixed;
    bottom:0px;
    right:0px;
}

.box {
    background: #FFFFFF;
    color: #000000;
    padding: 0px 5px 0px;
}

.box h2 {
    color: #000000;
}

#about p {
    float: right;
}

#gallery {
    clear: both;
}

img {
    width: 420px;
    position: absolute;
}

.container {
    position: absolute;
}

.smallImage {
    height: 281px;
}

.largeImage {
    height: 630px;
}

.blackText {
    color: #000000
}

.whiteText {
    color: #FFFFFF
}

.topLeft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 16px;
}

.bottomRight {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 16px;
}

.bottomLeft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 16px;
}

[placeholder] {
    font-size: 16px;
    color: #007D7B;
    text-transform: uppercase;
}